{{!< default}}
	{{{data.page.content.html}}}

<ul class="gallery">
	{{#each data.page.images}}
		<li>
			<img src="/uploads/files/images/{{this.filename}}" class="tileable gallery-element"></img>
		</li>
	{{/each}}
</ul>
