<div>
	<div class="fb-share-button" data-href="https://www.facebook.com/pages/Sophias-pet-care-services/543265092412670" data-layout="button_count"></div>

	<a href="https://twitter.com/share" class="twitter-share-button" data-text="I'm a fan of Sophia's Petcare Services!" data-via="SophiasPetcare" data-size="large">Tweet</a>

	<a class="fancybox-thumb" rel="fancybox-thumb" href="/images/dbs.png" title="DBS Checked">
		<img src="/images/dbs.png" alt="DBS Checked" />
	</a>

	<a class="fancybox-thumb" rel="fancybox-thumb" href="/images/narpsuk.png" title="NarpsUK Certified">
		<img src="/images/narpsuk.png" alt="" />
	</a>
	<a class="fancybox-thumb" rel="fancybox-thumb" href="/images/narpsukps.png" title="NarpsUK Certified Pet Sitter">
		<img src="/images/narpsukps.png" alt="NarpsUK Certified Pet Sitter" />
	</a>
	<a class="fancybox-thumb" rel="fancybox-thumb" href="/images/narpsukdw.png" title="NarpsUK Certified Dog Walker">
		<img src="/images/narpsukdw.png" alt="NarpsUK Certified Dog Walker" />
	</a>

	<a class="fancybox-thumb" rel="fancybox-thumb" href="/images/petInsurance.png" title="Insured by Pet Business Insurance">
		<img src="/images/petInsurance.png" alt="Insured by Pet Business Insurance" />
	</a>

	<span class="">Made by <a href="http://github.com/amroche" target="_blank">AMRoche</a>.</span>

</div>
