<footer>
	<div class="footer-wrapper">
		<div class="social">
			<span class="twitter-button">
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="I'm a fan of Sophia's Petcare Services!" data-via="SophiasPetcare" data-size="large">Tweet</a>
			</span>

			<div class="fb-share-button" data-href="https://www.facebook.com/pages/Sophias-pet-care-services/543265092412670" data-layout="button_count"></div>
		</div>

		<div class="thumbs">
			<a class="fancybox-thumb" rel="fancybox-thumb" href="/images/dbs.png" title="DBS Checked">
				<img src="/images/footer/dbs.png" alt="DBS Checked" />
			</a>

			<a class="fancybox-thumb" rel="fancybox-thumb" href="/images/narpsuk.png" title="NarpsUK Certified">
				<img src="/images/footer/narpsuk.png" alt="NarpsUK Certified" />
			</a>
			<a class="fancybox-thumb" rel="fancybox-thumb" href="/images/narpsukps.png" title="NarpsUK Certified Pet Sitter">
				<img src="/images/footer/narpsukps.png" alt="NarpsUK Certified Pet Sitter" />
			</a>
			<a class="fancybox-thumb" rel="fancybox-thumb" href="/images/narpsukdw.png" title="NarpsUK Certified Dog Walker">
				<img src="/images/footer/narpsukdw.png" alt="NarpsUK Certified Dog Walker" />
			</a>
			<a class="fancybox-thumb" rel="fancybox-thumb" href="/images/petInsurance.png" title="Insured by Pet Business Insurance">
				<img src="/images/footer/petInsurance.png" alt="Insured by Pet Business Insurance" />
			</a>
		</div>
		<div class="amroche-logo">An <a href="http://github.com/amroche" target="_blank"> <img src="/images/amroche-logo.png" alt="AMRoche Logo" title="AMRoche Logo"/></a> Website.</div>
	</div>
</footer>
